button {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 7px;
}

button * {
  cursor: pointer;
}

button:disabled {
  cursor: default;
  color: black;
}

input {
  padding: 7px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  gap: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 400px;
  gap: 5px;
}

.error-message {
  color: red;
  font-weight: bold;
}

.title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 2px solid #ccc;
}

.nav-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logout-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}

.polls {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  gap: 30px;
}

.polllist-with-selector {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.polllist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  gap: 10px;
}

.polllist-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  gap: 10px;
}

.polls-selector {
  align-self: flex-end;
}

.poll {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  gap: 30px;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  object-fit: cover;
  background-color: #ccc;
}

.avatar-small {
  width: 40px;
  height: 40px;
}

.avatar-large {
  width: 80px;
  height: 80px;
}

.poll-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.poll-options {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.poll-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.poll-option-chosen {
  background-color: #d4edda;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  gap: 30px;
}

.leaderboardtable {
  width: 60%;
}

.leaderboardtable th,
.leaderboardtable td {
  border: 1px solid #ccc;
  text-align: left;
  padding: 10px;
}
