button {
  padding: 7px;
  cursor: pointer;
}

input {
  padding: 7px;
}

.clickable:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  gap: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 400px;
  gap: 5px;
}

.error-message {
  color: red;
  font-weight: bold;
}

.title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 2px solid #ccc;
}

.nav-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logout-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.polls {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.polllist-with-selector {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.polllist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  gap: 10px;
}

.polllist-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  gap: 10px;
}

.polls-selector {
  align-self: flex-end;
}

.poll {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  gap: 30px;
}

.poll-options {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.poll-option {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}

.chosen-option {
  background-color: #d4edda;
}

.other-option {
  background-color: #f2f2f2;
}